.floatr{
    float: right;
}

.bg-tr80{
    background-color: lightcyan;
}
.bg-tr40{
    background-color: rgb(125, 166, 243);
}

.bg-tredit{
    background-color: rgb(255, 255, 255);
}

.colorb{
    color: black;
}

.fontetr{
    font-size: 20px;
}

.fontetrhr{
    font-size: 17px;
}


